html {
  font-size: 100%;
  background-color: #f8f8f8;
  color: #333;
}

body {
  line-height: 1.5rem;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  padding-top: 0.375rem;
  padding-bottom: 4.125rem;
}

body.grid {
  background-image: linear-gradient(0deg, rgba(0,0,100,0.1) 0, transparent 1px);
  background-size: 1.5rem 1.5rem;
}

h1 {
  font-size: 3.375rem;
  font-weight: bold;
  line-height: 4.5rem;
  margin-top: 0;
  margin-bottom: 0.875rem;
  padding-top: 0.625rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0.3125rem;
  margin-bottom: 1.1875rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

p, ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.compact p {
  margin-bottom: 0.75rem;
}

.compact {
  padding-bottom: 0.75rem;
}

dt, dd {
  margin-left: 0;
  margin-right: 0;
}

dt {
  font-weight: bold;
}

a {
  color: #0366d6;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.container {
  position: relative;
  box-sizing: border-box;
  padding: 0 1rem;
  max-width: 900px;
  margin: auto;
}

@media (min-width: 480px) {
  .container {
    padding: 0 1.5rem;
  }

  .sidebar {
    display: flex;
    flex-wrap: wrap;
  }

  .personal-info {
    flex: 1 1 50%;
    order: 2;
  }

  .contacts {
    flex: 1 1 50%;
    order: 1;
  }

  .skills {
    flex: 1 1 100%;
    order: 3;
  }
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
  
  .container {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header sidebar"
      "content sidebar"
  }

  header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

  header, .sidebar, .content {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }

  .sidebar {
    padding-top: 24px;
  }
}

@media print {
  html {
    background-color: white;
    color: black;
    font-size: 70%; /* 68.75%; */
  }

  a {
    color: black;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  section, ul, ol, dl {
    page-break-inside: avoid;    
  }

  .lead {
    width: 30rem;
  }

  .optional {
    display: none;
  }

  .container {
    max-width: none;
    padding: 0;
  }

  .container:after {
    content: " ";
    display: table;
    clear: both;
  }

  .left {
    float: left;
    width: 66.6667%;
    box-sizing: border-box;
    padding: 0 2rem;
  }

  .right {
    float: right;
    width: 33.3333%;
    box-sizing: border-box;
    padding: 1.5rem 2rem 0;
  }
}
